@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    scroll-behavior: smooth;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.container
{
    max-width: 1140px;
    margin: 0 auto;
}

body
{
    position: relative;
}

.header-nav
{
    background-color: #dfd8c9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 520;
}

.nav-list
{
    justify-content: space-between;
    display: flex;
}

.nav-list > a
{
    padding: 15px 20px;
    color: black;
    font-size: 35px; 
     
}

.nav__list
{
    align-items: center !important ;
    display: flex;
    gap: 30px;
    justify-content: center !important;
}

.nav__list a
{
    text-transform: uppercase;
    color: cadetblue;
    font-size: 16px;
    transition: 0.5s;
    border-bottom: 1px solid cadetblue;   
    border-top: 1px solid cadetblue;  
}

.nav__list a:hover
{
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid cadetblue;
    border-bottom: 1px solid cadetblue;
}

.header
{
    background: url(../img/header-bg.jpg) rgba(7, 15, 25, 0.3);
    height: 100vh;
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
}



.header-content 
{
    position: relative;
    height: 55vh;
    display: flex;
    align-items: flex-start;
}

.header-info
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-info h1
{
    padding-top: 80px;
    color: #FEE6E6;
    font-size: 140px;
}

.header-info h3
{   
    padding-top: 120px;
    padding-right: 200px;
    color: white;
    font-size: 40px;
    padding-bottom: 50px;
}
.header-info p
{
    color: white;
    font-size: 16px;
    width: 600px;
    margin-bottom: 100px;
}

/*MAIN*/
.main
{
    background: rgb(240,248,255);
    background: linear-gradient(0deg, rgba(240,248,255,1) 46%, rgba(223,216,201,1) 100%);
    
}

.uslugi h2
{
    text-align: center;
    color: rgb(38, 31, 31);
    font-size: 40px;
    padding-top: 50px;
}
.uslugi
{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.uslugi_cards
{
    width: 800px;
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.uslugi-card
{
    opacity: 1;
    margin-top: 50px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.uslugi-card_text p
{
    margin-bottom: 0 !important;
    color: black;
    font-size: 16px;
}

.uslugi-card_text 
{
    background-color: #f4f0f0;
    padding: 10px 20px;
    border-radius: 8px;
}

.uslugi-card img
{
    width: 220px;
    border-radius: 8px;
}
.uslugi-card h3
{
    color: rgb(38, 31, 31);
    width: 235px;
    text-align: center;
    font-size: 20px;
}
.uslugi-card p
{
    width: 200px;
    color: rgb(38, 31, 31);
    text-align: center;
}
.info-psycology
{
    border-top:5px solid #dfd8c9;
    background-color: #f0f8ff00;
    margin-top: 150px;
    background: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.info
{

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 80px;
}

.info img
{
    margin-top: -60px;
    width: 300px;
    margin-bottom: -50px;
}

.info-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-content h3
{
    font-size: 25px;
}

.info-content h2
{
    font-size: 40px;
    padding-bottom:20px ;
    color: rgb(38, 31, 31);
}
.info-content h4
{
    font-size: 20px;
    color: rgb(38, 31, 31);
    width: 500px;
}

.diplom-work
{
    border-top: 5px solid #dfd8c9;
    padding-top: 100px;
}
.diplom 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diplom-work h1
{
    font-size: 40px;
    margin-bottom: 30px;
    background-color: #dfd8c9;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
}

.diplom img
{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.films-cards__card {
    width: 264px;
    height: 380px;
    border-radius: 6px;
    background: url(../img/diplom1.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    overflow: hidden;
}

.films-cards__card-text {
    background: rgb(240,248,255);
    background: radial-gradient(circle, rgba(240,248,255,1) 0%, rgba(223,216,201,1) 100%);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0;
    left: 0;
    padding: 50px 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    color: rgb(87, 84, 84);
    opacity: 0;
    transition: 500ms;
    text-align: center;
}

.films-cards__card:hover .films-cards__card-text {
    opacity: 1;
}

.films span {
    margin: 13px 0 32px;
    font-family: MR;
    font-size: 14px;
    line-height: 10px;
    padding: 7px 28px;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 9px;
}

.films h3 {
    font-size: 22px;
    line-height: 27px;
    font-family: MR;
    font-weight: 400;
    margin-bottom: 13px;
}

.films p {
    font-family: RR;
    font-size: 14px;
    line-height: 21px;
}

.films-cards__card:nth-child(2) {
    background: url(../img/diplom2.jpg);
    background-position: center;
    background-size: cover;
}

.films-cards__card:nth-child(3) {
    background: url(../img/diplom3.png);
    background-position: center;
    background-size: cover;
}



.films-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.chetrt
{
    display: flex;
    background-color: #dfd8c9;
    width: max-content;
    border-radius: 8px;
    padding: 15px 10px;
}

.year
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}
.clients
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.diplom_header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}


.l
{
    background-color: #f0f8ff;
    width: 2px;
    height: 70px;
}




.main
{
    position: relative;
}

.brain
{
    position: absolute;
    top: 70px;
    left: 30px;
}

.news_card1
{
    max-width: 300px;
    height: 500px;
    border-radius: 8px;
    border: 1px solid #dfd8c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px;
}

.news_card1 img
{
    width: 280px;
    border-radius: 20px;
    padding: 10px 15px;
}

.new p
{
    margin: 0 !important;
    width: 260px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news h1
{
    text-align: center;
    margin-top: 50px;
    background-color: #dfd8c9;
    padding: 10px 10px;
}

.news_cards
{
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 25px;
}

.accardion_item
{
    margin-top: 50px;
    padding-bottom: 50px;
    border: none;
    border-radius: 20px;
}

.chasto
{
    padding: 10px 10px;
    text-align: center;
    margin-top: 50px;
    background-color: #dfd8c9;
}

.acc_item button
{
    color: black;
    font-size: 24px;
    
}

.contact_info
{
    display: flex;
    justify-content: space-between;
}

.contact h1
{
    text-align: center;
    margin-top: 50px;
    background-color: #dfd8c9;
    padding: 10px 10px;
}

.info1 
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info1 p
{
    font-size: 23px;
    font-weight: 500;
}

.info2 
{
    margin-top: 50px;
}

.info2 p
{
    font-size: 25px;
    margin-bottom: 20px;
}

.info2 span
{
    
    font-weight: 600;
}

.info2 a
{
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: coral;
}

.contact iframe
{
    margin-top: 50px;
    width: 100%;
}


.burger
{
    color: white;
    display: none;
    font-size: 30px;
}
